<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd    " >
<mapper namespace="com.baizhi.dao.GuruDAO">

    <select id="queryAllGuru" resultType="com.baizhi.entity.Guru">
      select * from guru
   </select>
    <select id="queryGuruById" resultType="com.baizhi.entity.Guru">
        select * from guru
        where id=#{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from guru
        where id=#{id}
    </delete>

    <insert id="insertGuru" parameterType="com.baizhi.entity.Guru">
        insert into guru values(#{id},#{name},#{headPic},#{sex})
    </insert>

    <update id="updateGuru" parameterType="com.baizhi.entity.Guru">
        update guru set name=#{name},headPic=#{headPic},sex=#{sex}
        where id=#{id}
    </update>
</mapper>
